{% extends 'base.html' %}

{% block head %}
    <style type='text/css'>
     .div-style{
         margin-left: 30%;
    margin-top : 1rem;
    padding : 1rem;
   background: rgb(169,210,88);
background: linear-gradient(90deg, rgba(169,210,88,1) 10%, rgba(0,226,255,1) 99%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1rem 0px;
    }

    </style>

{% endblock head %}


{% block content %}


    <div class="container">
            <div class="div-style">
            <form class="abc">
                <div class=" main-label" >
                    <h2>Register</h2>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control text-box" id="email" aria-describedby="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control text-box" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control text-box" id="UserName" placeholder="username">
                </div>
                 <div class="form-group">
                    <input type="text" class="form-control text-box" id="LicenseNumber" placeholder="License Number">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn button-submit">Sign Up</button>
                </div>
            </form>
            </div>
    </div>

{% endblock content %}