<!DOCTYPE html>
<html>
    <head>
        <title>zip car base</title>
    </head>
    <body>
        <p>
            this webpage has following urls at this point
            <ul>
            <li>1) /admin admin end to add user info and car info</li>
            <li>2) /cars to see the car lists</li>
            <li>3) /users to see the user lists</li>
            <li>4) /car_search_form to search car</li>
            <li>5) /user_search_form to search car</li>
            <li>6) /car_create to search car</li>
            <li>7) /user_create to search car</li>
            <li>8) / holds base listing info</li>

            </ul>
        </p>
        {% block content %}

        {% endblock %}
    </body>
</html>