<!DOCTYPE html>
<html>
    <head>
        <title>zip car base</title>
    </head>
    <body>
        <p>
            this webpage has following urls at this point
            <ul>
            <li>1) <a href=/admin> admin end to add user info and car info</a></li>
            <li>2) <a href=/cars >  to see the car lists</a></li>
            <li>3) <a href=/users > to see the user lists</a></li>
            <li>4) <a href=/car_search_form> to search car</a></li>
            <li>5) <a href=/user_search_form>  to search car</a></li>
            <li>6) <a href=/car_create> to search car</a></li>
            <li>7) <a href=/user_create> to search car</a></li>
            <li>8) <a href=/ > holds base listing info</a></li>

            </ul>
        </p>
        {% block content %}

        {% endblock %}
    </body>
</html>